<ion-view>
<ion-content id="login">
  <div class="book-icon icon icon-center ion-ios-bookmarks-outline">
    <div class="book-now">네트워크 프로젝트</div>
  </div>
	<div id="icon-container"></div>
	<div class="list">
  		<label class="item item-input login-form">
    		<input type="text" class="text-center" placeholder="아이디" ng-model="data.account">
  		</label>
  		<div class="row"></div>
  		<label class="item item-input login-form">
    		<input type="password" class="text-center" placeholder="비밀번호" ng-model="data.password">
  		</label>
	</div>
<!--   <span class="p2 signup" ng-click="goSignup()">회원가입을 원하시면 눌러주세요&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
<div class="row">
  <div class="button button-full button-positive col" ng-click="goMain()">로그인</div>
	<div class="button button-full button-positive col" ng-click="goSignup()">회원가입</div>
 </div>
</button>
</ion-content>
</ion-view>