#register-search-detail {
	
	.scroll {
		height: 100%;
	}
	.content-header {
		height: 180px;
		text-align: center;

		.book-title {
			height: 40px;
			white-space: normal;
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	.content-body {
		height: calc(100% - 180px);

		.item {
			border-top: 0px;
			border-bottom: 0px;
		}

		.duration {
			padding-left: 16px;
			padding-top: 16px;
		}
	}
}