#add-button1 {
			position: fixed;
			right: 5%;
			margin-top: 410px;
			border-radius: 50%;
			width: 56px;
			height: 56px;
			line-height: 47px;
			z-index: 10;
			border: 1px solid black;
			text-align: center;
			font-size: 24px;
			background-color: #000000;
			padding-top: 15px;
			color: white;
		}

		#add-button2 {
			position: fixed;
			right: 5%;
			margin-top: 480px;
			border-radius: 50%;
			width: 56px;
			height: 56px;
			line-height: 47px;
			z-index: 10;
			border: 1px solid black;
			text-align: center;
			font-size: 24px;
			background-color: #000000;
			padding-top: 15px;
			color: white;
		}
		
#main-list {
	.card {
		position: relative;
	}

	

		.ion-plus{
			color: black;
		}

		.ion-android-search{
			color: black;
		}

		.bar-header{
			background-color: #041435;
			top: 30px;
		}

		.item-divider{
			background-color: #26ADE4;
			color: black;
			margin-top: -2px;
		}

		.bar{
			background-color: blue;
		}

		.scroll-content{
			margin-top: -18px;
		}
}

