#add-button1 {
	position: fixed;
	right: 5%;
	bottom: 100px;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	line-height: 47px;
	z-index: 10;
	border: 0px;
	text-align: center;
	font-size: 24px;
	background-color: #387EF5;
	padding-top: 15px;
	color: white;
}

#add-button2 {
	position: fixed;
	right: 5%;
	bottom: 30px;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	line-height: 47px;
	z-index: 10;
	border: 0px;
	text-align: center;
	font-size: 24px;
	background-color: #387EF5;
	padding-top: 15px;
	color: white;
}
		
#main-list {
	.card {
		position: relative;

		.item {
			position: relative;

			.alarm {
				position: absolute;
				top: 8px;
				right: 4px;
				.alarm-image {
					font-size: 30px;
				}

				.alarm-badge {
					display: block;
					width: 16px;
					height: 16px;
					line-height: 16px;
					text-align: center;
					font-size: 16px;
					position: absolute;
					top: 0px;
					right: -6px;
					color: #FFFFFF;
					z-index: 10;
					border-radius: 50%;
					border: 1px solid #777;
					background-color: #777;
				}
			}
		}
	}
	
		.ion-plus{
			color: black;
		}

		.ion-android-search{
			color: black;
		}

		.item-divider{

/*<<<<<<< HEAD*/
			margin-top: -2px;
/*=======
		.bar{
			background-color: blue;
		}

		.scroll-content{
			margin-top: -18px;
>>>>>>> upstream/master*/
		}
}

#mybook-detail {
	.item {
		height: 90px;
		transition: height 0.5s ease;

		&.clicked {
			height: 120px;
			transition: height 0.5s ease;
		}

		.button-container {

			.button-custom {
				display: inline-block;
				width: 49%;
				height: 40px;
				border-radius: 4px;
				line-height: 40px;
				font-size: 16px;
				color: #FFF;
				text-align: center;
				&.reject {
					background-color: #878787;
				}
				&.accept {
					background-color: blue;
				}
			}
		}
	}
}