<ion-side-menus>

<ion-side-menu-content>
<ion-side-menu side="left">
</ion-side-menu>

<ion-nav-bar></ion-nav-bar>

<ion-nav-view name="mainContent"></ion-nav-view>

</ion-side-menu-content>

<ion-side-menu side="left">
<ion-content id="main-side">
<ion-list>

<ion-item class="item user-profile" style="height:500px background-color: red">
	<div class="user-name" style="padding:40px">name</div>
</ion-item>

<ion-item menu-close ng-click="goLogout()">logout</ion-item>
</ion-list>
</ion-content>
</ion-side-menu>

</ion-side-menus>


