<ion-view view-title="내 책장">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()">
    </button>
  </ion-nav-buttons>
<ion-content id="main-list" on-scroll="moveScroll(event)">
  
  <div class="card">
   
    <!-- type 1 --> 
    <div class="item item-divider">
      대여가능
    </div>
    <div class="item item-text-wrap">
      <div class="list">
        
        <a class="item item-thumbnail-left" ng-repeat="availbook in items.avail" ng-click="goDetailBook(availbook)">
          <img ng-src="{{availbook.image}}">
          <h2 ng-bind-html="availbook.title"></h2>
          <p ng-bind-html="availbook.author"></p>
          <div class="alarm">
            <span class="alarm-image ion-ios-bell"></span>
            <span class="alarm-badge" ng-if="availbook.requests !== 0">{{availbook.requests}}</span>
          </div>
        </a>

      </div>
    </div>

    <!-- type 2 --> 
    <div class="item item-divider">
      대여 중
    </div>
    <div class="item item-text-wrap">
      <div class="list">
      
        <a class="item item-thumbnail-left" ng-repeat="lentbook in items.lent">
          <img ng-src="{{lentbook.image}}">
          <h2 ng-bind-html="lentbook.title"></h2>
          <p ng-bind-html="lentbook.author"></p>
        </a>
    
      </div>
    </div>

    <!-- type 3 --> 
    <div class="item item-divider">
      빌린 책
    </div>
    <div class="item item-text-wrap">
      <div class="list">
      
        <a class="item item-thumbnail-left" ng-repeat="borrowbook in items.borrow">
          <img ng-src="{{borrowbook.image}}">
          <h2 ng-bind-html="borrowbook.title"></h2>
          <p ng-bind-html="borrowbook.author"></p>
        </a>

      </div>
    </div>
  
  </div>
</ion-content>
</ion-view>
