<ion-view>


<ion-side-menus>

  <ion-side-menu>
    <div class="menu-wrapper ">
      <ul class="list">
        <li class="item">Item 1</li>
        <li class="item">Item 2</li>
        <li class="item">Item 3</li>
        <li class="item">Item 4</li>
        <li class="item">Item 5</li>
        <li class="item">Item 6</li>
        <li class="item">Item 7</li>
      </ul>
    </div>
  </ion-side-menu>

  <ion-side-menu-content>
   <ion-content id="main-list">

    <div class="bar bar-header">
      <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
      <div class="title">내 책장</div>
    </div>
      

    <div class="card">

  <div class="item item-divider">
    대여가능
    <button class="button button-small button-icon icon ion-plus" ng-click="goRegisterSearch()"></button>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>

  <div class="item item-divider">
    대여 중
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>

  <div class="item item-divider">
    빌린 책
    <button class="button button-small button-icon icon ion-plus" ng-click="goRentSearch()"></button>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>
    </div>


    </ion-content>

  </ion-side-menu-content>


</ion-side-menus>

</ion-view>
