<ion-side-menus>
	<ion-side-menu-content>
		
		<ion-side-menu side="left"></ion-side-menu>

			<ion-nav-bar></ion-nav-bar>
				<div id="add-button1" class="button button-small button-icon icon icon-center ion-plus" ng-click="goRegisterSearch()" ng-show="$state.current.name === 'main.list'"></div>
			    <div id="add-button2" class="button button-small button-icon icon ion-android-search" ng-click="goRentSearch()" ng-show="$state.current.name === 'main.list'"></div>
			<ion-nav-view name="mainContent">
			
			</ion-nav-view>

	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content id="main-side">
			<ion-list>
				<ion-item class="item user-profile">
    				<img src="https://cdn3.iconfinder.com/data/icons/sympletts-part-3/128/circle-user-man-128.png">
    				<br><br><br><h2 style="text-align:center">name</h2>
    				<p style="text-align:center">account</p><br>
				</ion-item>
				<ion-item menu-close ng-click="goLogout()">logout</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>


