<ion-view view-title="내책장">
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()">
    </button>
  </ion-nav-buttons>
<ion-content id="main-list" on-scroll="moveScroll(event)">
  
  <div class="card">
    <div id="add-button">+</div>
    
  <div class="item item-divider">
    대여가능
    <!-- <button class="button button-small button-icon icon ion-plus" ng-click="goRegisterSearch()"></button> -->
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>

  <div class="item item-divider">
    대여 중
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>

  <div class="item item-divider">
    빌린 책
    <!-- <button class="button button-small button-icon icon ion-plus" ng-click="goRentSearch()"></button> -->
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <a class="item item-thumbnail-left" href="#">
      <img src="adam.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  </div>
  </div>
    </div>
</ion-content>
</ion-view>
