<ion-side-menus>

<!-- <<<<<<< HEAD
	<ion-side-menu-content>
		
		<ion-side-menu side="left"></ion-side-menu>

			<ion-nav-bar></ion-nav-bar>
				<div id="add-button1" class="button button-small button-icon icon icon-center ion-plus" ng-click="goRegisterSearch()"></div>
			    <div id="add-button2" class="button button-small button-icon icon ion-android-search" ng-click="goRentSearch()"></div>
			<ion-nav-view name="mainContent">
			
			</ion-nav-view>

	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content>
			<ion-list>
				<ion-item menu-close ng-click="goLogout()">logout</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
======= -->
<ion-side-menu-content>
	<ion-side-menu side="left">
</ion-side-menu>

<ion-nav-bar></ion-nav-bar>

<ion-nav-view name="mainContent"></ion-nav-view>

</ion-side-menu-content>

<ion-side-menu side="left">
<ion-content id="main-side">
<ion-list>

<ion-item class="item user-profile" style="height:500px background-color: red">
	<div class="user-name" style="padding:40px">name</div>
</ion-item>

<ion-item menu-close ng-click="goLogout()">logout</ion-item>
</ion-list>
</ion-content>
</ion-side-menu>

</ion-side-menus>


